[submodule "vendor/zstd"]
	path = extern/zstd
	url = https://github.com/facebook/zstd
[submodule "vendor/simdcomp"]
	path = extern/simdcomp
	url = https://github.com/lemire/simdcomp
[submodule "rapidcheck"]
	path = rapidcheck
	url = https://github.com/emil-e/rapidcheck
[submodule "extern/rapidcheck"]
	path = extern/rapidcheck
	url = https://github.com/emil-e/rapidcheck
